<link href="//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="__CSS__/form.css" type="text/css">
<div class="body-content">
    <div class="module">
        <h1>Log in</h1>
        <form class="form" action="login" method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="alert alert-error"></div>
            <input type="email" placeholder="Email" name="email" required />
            <input type="password" id="password" placeholder="Password" name="password" autocomplete="password" required />
            <input type="submit" value="Log In" id="submit" name="register" class="btn btn-block btn-primary" onclick="hash()"/>
        </form>
    </div>
</div>
<script src="__JS__/sha256.js"></script>
<script type="text/javascript">
    function hash() {
        var password = document.getElementById('password').value;
        var hash = SHA256.hash(password);
        document.getElementById("password").value = hash;
    }</script>