<link href="//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="__CSS__/form.css" type="text/css">
<div class="body-content">
    <div class="module">
        <h1>Create an account</h1>
        <form class="form" action="register" method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="alert alert-error"></div>
            <input type="text" placeholder="User Name" name="username" required />
            <input type="email" placeholder="Email" name="email" required />
            <input type="password" id="password" placeholder="Password" name="password" autocomplete="new-password" onkeyup="CheckPassword()" required />
            <input type="password" placeholder="Confirm Password" id="confirmpassword" name="confirmpassword" autocomplete="new-password" required />
            <div class="avatar"><label>Select your avatar: </label><input type="file" name="avatar" accept="image/*" required /></div>
            <input type="submit" value="Register" id="submit" name="register" class="btn btn-block btn-primary" onclick="hash()"/>
        </form>
    </div>
</div>
<script src="__JS__/sha256.js"></script>
<script type="text/javascript">
    var password = document.getElementById('password');
    var confirmpassword = document.getElementById('confirmpassword');
    var submit = document.getElementById('submit');

    function hash() {
        password = document.getElementById('password').value;
        confirmpassword = document.getElementById('confirmpassword').value;
        var hash = SHA256.hash(password);
        var confirmhash = SHA256.hash(confirmpassword);
        document.getElementById("password").value = hash;
        document.getElementById("confirmpassword").value = confirmhash;
    }

    function CheckPassword() {
        if (password.value.length < 6) {
            submit.disabled = true;
            submit.value = 'Please enter at least 6 characters password';
        }
        else {
            submit.disabled = false;
            submit.value = 'Register';
        }
    }
</script>